---
layout: default
# Index page
---

<div class="row">
    <div class="col-md">
        <h1>Who am I?</h1>
        <img src = "assets/post_data/home/me.png" alt = "It is a photo of me" class="img-fluid float-md-end me-md-3 mb-3" style = " width:40%; border-radius: .625rem;">
        <p>Hey, I am Daniel! Welcome to my website!</p>
        <p>Currently, I am studying game programming at <a href = https://www.buas.nl>Breda University of Applied Sciences</a>. On the program I am focusing on engine development and graphics programming. </p>
        <p>I consider myself a very curious individual, always eager to delve deep into research to find answers.</p>
    </div>
</div>
<!-- Welcome text and image -->


<h3>There are some of the articles / projects I advice to look into:</h3>

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in pinned %}
    {% include post-card.html %}
  {% endfor %}
</div>
<!-- #post-list -->

<!--
// Put some GIF ili rolik, 4toto будет показывать (то, что я могу показать) -> тени, 
// отдельно от себя от about me

// Добавить гифки + результат по проектам
// Backyard Chicken -> показать трейлер, с верху небольшой дескрипшн
// Добавить личный контрибьюшн и инфу то что я там сделал
// разделить артиклы и проекты и сделать их по разному в категориях
// Резюме / CV добавить -> показывать на сайте но и добавить опцию скачать
-->